<div class="home">
    <h2>HOME</h2>
    
    <div class="home-content">
    <div class="article-1">
    <figure>
        <figcaption>The Value of Money</figcaption>
        <img src="../images/article-1.jpg" alt="Article 1" />
        <p>Most economists are in agreement that the inflation in the United States during the past three years has been the worst since the early 1940′s, taking account of both severity and duration. But they cannot agree on the nature of the inflation that is engulfing the American economy. To some, inflation denotes a spectacular rise in consumer prices; to others, an excessive aggregate demand; and to at least one economist, it is the creation of new money by our monetary authorities.</p>
    </figure>
    </div>
    
    
    <div class="article-2">
    <figure>
        <figcaption>GMO food</figcaption>
        <img src="../images/article-2.jpg" alt="Article 2" />
        <p>Genetically modified foods (GM foods), also known as genetically engineered foods (GE foods), or bioengineered foods are foods produced from organisms that have had changes introduced into their DNA using the methods of genetic engineering.</p>
    </figure>
    </div>
    
    
    <div class="article-3">
    <figure>
        <figcaption>The View of World</figcaption>
        <img src="../images/article-3.jpg" alt="Article 3" />
        <p>However you look at it, the future appears bleak. The world is under immense stress environmentally, economically and politically. It’s hard to know what to fear the most. Even our own existence is no longer certain. Threats loom from many possible directions: a giant asteroid strike, global warming, a new plague, or nanomachines going rogue and turning everything into grey goo.</p>
    </figure>
    </div>
    </div>
</div>

<div class="portfolio">
    <h2>PORTFOLIO</h2>
<div class="portfolio-content">  
    <div class="card-1">
    <figure>
        <img src="../images/card-1.jpg" alt="Card 1" />
        <figcaption>Value of coins</figcaption>
    </figure>
    </div>


    <div class="card-2">
    <figure>
        <img src="../images/card-2.jpg" alt="Card 2" />
        <figcaption>Money can talk</figcaption>
    </figure>
    </div>

    
    <div class="card-3">
    <figure>
        <img src="../images/card-3.jpg" alt="Card 3" />
        <figcaption>GMO food is a knife</figcaption>
    </figure>
    </div>


    <div class="card-4">
    <figure>
        <img src="../images/card-4.jpg" alt="Card 4" />
        <figcaption>Future food</figcaption>
    </figure>
    </div>
    
    
    <div class="card-5">
    <figure>
        <img src="../images/card-5.jpg" alt="Card 5" />
        <figcaption>Furious society</figcaption>
    </figure>
    </div>


    <div class="card-6">
    <figure>
        <img src="../images/card-6.jpg" alt="Card 6" />
        <figcaption>The hole of future</figcaption>
    </figure>
    </div>

</div>
</div>